{% extends "base.html" %}

{% block content %}

{% set lcount = 1 %}
{% set rcount = 1 %}

	<legend>
		<h1>Battle of {{ leftf }} vs {{ rightf }}</h1>
	</legend>

	<div id="alert" class="alert alert-success hide">
	</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span6">
					<div id = "leftcomments">
						{% for c in lc %}
							<div class="row">
								<div class="span1">
									<a href="#" onclick="vote('{{ c.key() }}','lc_up{{ lcount }}','up')">
										<i class="icon-arrow-up"></i>
									</a>
									{% set votes = c.votes %}
									<div id="lc_up{{ lcount }}">{{ votes }}</div>
									<a href="#" onclick="vote('{{ c.key() }}','lc_up{{ lcount }}','down')">
										<i class="icon-arrow-down"></i>
									</a>
								</div>
								<div class="span11">
									<blockquote id="left_comment">
										{{ c.comment }}
										{% if c.image_url != "None" %}
											<img src="{{ c.image_url }}" />
										{% endif %}
										<small>
											by <cite>{{ c.author.nickname() }}</cite>
										</small>
									</blockquote>
								</div>
							</div>
							{% set lcount = lcount + 1 %}
						{% endfor %}
					</div>
					<form method="post" action="{{ upload_url }}" accept-charset="utf-8" enctype="multipart/form-data">
						<p>
							<label for="leftbox">Left Comment</label>
							<textarea id="leftbox" name="leftbox" maxlength=140 placeholder="max 140 characters only"></textarea>
						</p>
						<p>
							<input type="submit" id="leftbutton" name="leftb" value="Comment on Left"/>
						</p>
						<input type="file" name="left_image" />
					</form>
				</div>

				<div class="span6">
					<div id = "rightcomments">
						{% for s in rc %}
							<div class="row-fluid">
								<div class="span1">
									<a href="#" onclick="vote('{{ s.key() }}','rc_up{{ rcount }}','up')">
										<i class="icon-arrow-up"></i>
									</a>
									{% set vote = s.votes %}
									<div id="rc_up{{ rcount }}">{{ vote }}</div>
									<a href="#" onclick="vote('{{ s.key() }}','rc_up{{ rcount }}','down')">
										<i class="icon-arrow-down"></i>
									</a>
								</div>
								<div class="span11">
									<blockquote id="right_comment">
										{{ s.comment }} 
										{% if s.image_url != "None" %}
											<img src="{{ s.image_url }}" />
										{% endif %}
										<small>
											by <cite title="name">{{ s.author.nickname() }}</cite>
										</small>
									</blockquote>
								</div>
							</div>
							{% set rcount = rcount + 1 %}
						{% endfor %}
					</div>
					<form method="post" action="{{ upload_url }}" accept-charset="utf-8" enctype="multipart/form-data">
						<p>
							<label for="rightbox">Right Comment</label>
							<textarea id="rightbox" name="rightbox" maxlength=140 placeholder="max 140 characters only"></textarea>
						</p>
						<p>
							<input type="submit" id="rightbutton" name="rightb" value="Comment on Right"/>
						</p>
						<input type="file" name="right_image"/>
					</form>
				</div>
			</div>
		</div>
		<hr>
		<p>
			<a href="#" class="muted" onclick="subscribe()">Subscribe</a> /
			<a href="#" class="muted" onclick="unsubscribe()">Unsubscribe</a>
		</p>
<script>

	$("#leftbox").val("");
	$("#rightbox").val("");

	function vote(comment_key,count,up_or_down) {
		$.ajax({
			url: '/comment/vote/' + comment_key + "/" + up_or_down
		}).success(function(data) {
			$("#"+count).html(data.votes)
		})
	}

	function subscribe() {
		$.ajax({
			url: '/battle/subscribe/{{ key }}',
			type: "POST"
		}).success(function() {
			$("#alert").html("Thank you for your subscription. You will receive an email update whenever someone comments on this battle.")
			$("#alert").show();
		})
	}

	function unsubscribe() {
		$.ajax({
			url: '/battle/unsubscribe/{{ key }}',
			type: "POST"
		}).success(function() {
			$("#alert").html("You have been unsubscribed from the battle.")
			$("#alert").show()
		})
	}

</script>
{% endblock %}