{% extends "base.html" %}

{% block content %}
	<h1 id="">WebBattle</h1>
	<h2 id="">Create a WebBattle</h2>
	<form action="{{ url_for('index') }}" method="post" accept-charset="utf-8">
		{{ form.csrf_token }}
		<p>
			<label for="left">{{ form.left.label }}</lable>

			{{ form.left|safe }}

			{% if form.left.errors %}
			<ul class="errors">
				{% for error in form.left.errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		</p>
		<p>
			<label for="right">{{ form.right.label }}</lable>

			{{ form.right|safe }}

			{% if form.right.errors %}
			<ul class="errors">
				{% for error in form.right.errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		</p>
		<p><input type="submit" value="Save Battle"/></p>
    </form>
    <h2>Existing WebBattles</h1>
    <ul>
    	{% set count = 0 %}
    	{% for battle in battles %}
		{% set votes = battle.upvotes - battle.downvotes %}
    	<li>
    		<div id="battle{{ count }}">{{ votes }}</div>
    		<a href="#" onclick="upvote('{{ battle.left }}','{{ battle.right }}','battle{{ count }}')">
				<i class="icon-arrow-up"></i>
			</a>
			<a href="#" onclick="downvote('{{ battle.left }}','{{ battle.right }}','battle{{ count }}')">
				<i class="icon-arrow-down"></i>
			</a>
			<a href="/battle/{{ battle.left }}/{{ battle.right }}">{{ battle.left }} vs {{ battle.right }}</a>
    	</li>
    	{% set count = count + 1 %}
    	{% endfor %}
    </ul>

    <script>
    	function upvote(left,right,count){
    		$.ajax({
    			url: '/upvote',
    			data: { left : left, right : right},
    			type: "POST"
    		}).success(function(data){
    			$("#"+count).html(data.votes)
    		})
    	}

    	function downvote(left,right,count){
    		$.ajax({
    			url: '/downvote',
    			data: { left : left, right : right},
    			type: "POST"
    		}).success(function(data){
    			$("#"+count).html(data.votes)
    		})
    	}
    </script>

{% endblock %}