{% extends "base.html" %}

{% block content %}
	<legend>
        <h1>Web Battle</h1>
    </legend>

    <div class="row">
        <div class="span8">
            <h3> Create a Battle </h3>
            <div class="alert alert-success hide" id="alert">
            </div>
            <form action="/" method="post" accept-charset="utf-8">
                <p>
                    <label for="left">Left</label>
                    <input type="text" id="left" />
                </p>
                <p>
                    <label for="right">Right</label>
                    <input type="text" id="right" />
                </p>
                <p>Expiration Date: <input type="text" id="datepicker" /></p>
                <div id = "tags-list" name"list">
                </div>
                <p>
                    <button class="btn btn-mini" id="add-tags-button">Add Tags</button>
                </p>
                <p>
                    <button id="submit" type="button" class="btn btn-primary btn-large">Create Battle</button>
                </p>
            </form>
        </div>

        <div class="span4">
            <h3> New Battles </h3>
            {% for recent in recent_battles %}
                <a href="/battles/{{ recent.key() }}"> {{ recent.left }} vs {{ recent.right }} </a>
                <br />
            {% endfor %}
        </div>

    </div>

    <script>
    	var tagno = 0;
        var tags = ""
        $("#left").val("")
        $("#right").val("")


    	function upvote(left,right,count){
    		$.ajax({
    			url: '/upvote',
    			data: { left : left, right : right},
    			type: "POST"
    		}).success(function(data){
    			$("#"+count).html(data.votes)
    		})
    	}

    	function downvote(left,right,count){
    		$.ajax({
    			url: '/downvote',
    			data: { left : left, right : right},
    			type: "POST"
    		}).success(function(data){
    			$("#"+count).html(data.votes)
    		})
    	}

    	$("#add-tags-button").click(function(event) {
            tagno = tagno + 1;
            tag = '\
            <div>\
                <label for="tag'+tagno+'"'+'>Tag</label>\
                <input type="text" id="tag'+tagno+'"'+' />\
                <a href="#" onclick="delete_item('+tagno+')">(Delete)</a>\
            </div>\
            ';
            $("#tags-list").append(tag);
            event.preventDefault();
        })

        function delete_item(number) {
            $("#tag"+number).parent().remove()
        }

     	$("#submit").click(function(event){
     		tag = ""
     		left = $("#left").val()
     		right = $("#right").val()

     		$("#tags-list input").each(function(){
                if (this.value == "") {
                    alert("Please fill/remove the unfilled item(s)!");                    
                    event.preventDefault();
                    exit();
                }

                tag = tag + this.value + ",";
            });

            event.preventDefault();
            console.log("Hey")
            $.ajax({
            	url: '/addbattle',
            	data: { left : left, right : right, tags : tag}, 
                type: "POST"
            }).success(function(data) {
                string = "Your battle <a href='/battles/" + data.key + "'>" + data.left + " vs " + data.right + "</a> is created"
                $("#alert").html(string)
                $("#alert").show()
            })
           
     	})

    </script>

{% endblock %}