{% extends "base.html" %}

{% block content %}
	<legend>
        <h1>Web Battle</h1>
    </legend>

    <div class="row">
        <div class="span8">
            <h3> Create a Battle </h3>
            <div class="alert alert-success hide" id="alert">
            </div>
            <div class="alert alert-error hide" id="alert-err">
            </div>
            <form action="/" method="post" accept-charset="utf-8">
                <p>
                    <label for="left">Left</label>
                    <input type="text" id="left" />
                </p>
                <p>
                    <label for="right">Right</label>
                    <input type="text" id="right" />
                </p>
                <p>
                    <label for="datepicker">Expiration Date (optional)</label>
                    <input type="text" id="datepicker" />
                </p>
                <div id = "tags-list" name"list">
                    <label for="tags">Tags (optional)</label>
                    <input type="text"  placeholder="Enter comma separated tags" id="tags" />
                </div>
                
                <p>
                    <button id="submit" type="button" class="btn btn-primary btn-large">Create Battle</button>
                </p>
            </form>
        </div>

        <div class="span4">
            <div class="row">
                <h3> New Battles </h3>
                {% for recent in recent_battles %}
                    <a href="/battles/{{ recent.key() }}"> {{ recent.left }} vs {{ recent.right }} </a>
                    <br />
                {% endfor %}
            </div>
        </div>

    </div>

    <script>
    	var tagno = 0;
        var tags = ""
        $("#left").val("")
        $("#right").val("")

    	function upvote(left,right,count){
    		$.ajax({
    			url: '/upvote',
    			data: { left : left, right : right},
    			type: "POST"
    		}).success(function(data){
    			$("#"+count).html(data.votes)
    		})
    	}

    	function downvote(left,right,count){
    		$.ajax({
    			url: '/downvote',
    			data: { left : left, right : right},
    			type: "POST"
    		}).success(function(data){
    			$("#"+count).html(data.votes)
    		})
    	}

     	$("#submit").click(function(event){
     		left = $("#left").val()
     		right = $("#right").val()
            tag = $("#tags").val()
            date = $("#datepicker").val();

            event.preventDefault();
            $.ajax({
            	url: '/addbattle',
            	data: { left : left, right : right, tags : tag, date: date}, 
                type: "POST"
            }).success(function(data) {
                string = "Your battle <a href='/battles/" + data.key + "'>" + data.left + " vs " + data.right + "</a> is created"
                $("#alert").html(string)
                $("#alert").show()
                $("#alert-err").hide()
            }).error(function(data) {
                string = "A similar battle already exists"
                $("#alert-err").html(string)
                $("#alert-err").show()
                $("#alert").hide()
            })
           
     	})

    </script>

{% endblock %}